@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  max-height: 100%;
}

html {
  height: 100%;
  max-height: 100%;
}

.root {
  height: 100%;
  max-height: 100%;
}

.App {
  height: 100%;
  max-height: 1000%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.MyNavbar {
  flex: 5;
  max-height: 6%;
  min-height: 50px;
  background-color: rgb(0, 60, 255)
}

.MainComponents {
  flex: 95;
  width: 100%;
  max-height: 94%;
}


.homeDiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
}


.ContactList {
  flex: 2;
  width: 100%;
  max-width: 100%;
  align-items: center;
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
}

.MAinDisplayAreaNavbar {
  background-color: rgb(0, 45, 194);
  color: white;
}

.onlineStatusDiv {
  /* font-weight:400; */
}



.contactListScroll {
  flex: 95;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.contactListScroll::-webkit-scrollbar {
  width: 4px;
}

.contactListScroll::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 4px;
}

.contactListScroll::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 60, 255);
}

.contactListNavbar {
  flex: 5;
  width: 100%;
}

.MainDisplayArea {
  flex: 8;
  background-color: rgb(125, 125, 125);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.MAinDisplayAreaNavbar {
  flex: 5;
  width: 100%;
}


.chatsRecyclerView {
  flex: 90;
  overflow-y: auto;
  overflow-x: none;
  width: 100%;
}

.chatsRecyclerView::-webkit-scrollbar {
  width: 4px;
}

.chatsRecyclerView::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  ;

  border-radius: 4px;
}

.chatsRecyclerView::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 60, 255);
}

.typedMassegeBox {
  flex: 5;
  width: auto;
}

.rounded-corner-input {
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  border: #ffffff;
  width: 90%;
  padding-right: 10px;
  padding-left: 10px;
}

.rounded-corner-input:focus {
  outline: none;
}

.mySroll {
  overflow: scroll;
}






.contact-card {
  cursor: pointer;
  border-top: 1px solid #6e6c6c;
  background-color: #ffffff;
  height: 75px;
  min-height: 75px;
}

.contact-info {

  display: flex;
  align-items: center;
}

.contact-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-text {
  pointer-events: none;
  /* To prevent text from being selectable when clicking */
}



.profileImageNavbar {
  width: 40px;
  height: 40px;
}